@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9819 0.0061 314.797);
	--foreground: oklch(0.2452 0.0751 312.9613);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2452 0.0751 312.9613);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2452 0.0751 312.9613);
	--primary: oklch(0.6175 0.2286 312.2241);
	--primary-foreground: oklch(0.9841 0.0015 314.8205);
	--secondary: oklch(0.9123 0.0333 293.3775);
	--secondary-foreground: oklch(0.3339 0.1255 284.9612);
	--muted: oklch(0.9499 0.0092 314.7798);
	--muted-foreground: oklch(0.5297 0.0594 314.277);
	--accent: oklch(0.961 0.0184 314.734);
	--accent-foreground: oklch(0.4688 0.2189 310.1301);
	--destructive: oklch(0.6356 0.2082 25.3782);
	--destructive-foreground: oklch(0.9848 0 0);
	--border: oklch(0.9162 0.0155 314.7447);
	--input: oklch(0.9162 0.0155 314.7447);
	--ring: oklch(0.6175 0.2286 312.2241);
	--chart-1: oklch(0.6175 0.2286 312.2241);
	--chart-2: oklch(0.5068 0.2016 284.1939);
	--chart-3: oklch(0.6985 0.1712 333.8663);
	--chart-4: oklch(0.7319 0.1226 215.5502);
	--chart-5: oklch(0.8471 0.1549 89.4456);
	--sidebar: oklch(0.9638 0.0122 314.7652);
	--sidebar-foreground: oklch(0.3385 0.0937 313.225);
	--sidebar-primary: oklch(0.6175 0.2286 312.2241);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9275 0.0247 314.6976);
	--sidebar-accent-foreground: oklch(0.4726 0.2269 309.5958);
	--sidebar-border: oklch(0.8993 0.0187 314.726);
	--sidebar-ring: oklch(0.6175 0.2286 312.2241);
	--font-sans: Quicksand, system-ui, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Fira Code, monospace;
	--radius: 1rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 12px;
	--shadow-spread: 2px;
	--shadow-opacity: 0.1;
	--shadow-color: 280 40% 20%;
	--shadow-2xs: 0px 4px 12px 2px hsl(280 40% 20% / 0.05);
	--shadow-xs: 0px 4px 12px 2px hsl(280 40% 20% / 0.05);
	--shadow-sm: 0px 4px 12px 2px hsl(280 40% 20% / 0.1), 0px 1px 2px 1px hsl(280 40% 20% / 0.1);
	--shadow: 0px 4px 12px 2px hsl(280 40% 20% / 0.1), 0px 1px 2px 1px hsl(280 40% 20% / 0.1);
	--shadow-md: 0px 4px 12px 2px hsl(280 40% 20% / 0.1), 0px 2px 4px 1px hsl(280 40% 20% / 0.1);
	--shadow-lg: 0px 4px 12px 2px hsl(280 40% 20% / 0.1), 0px 4px 6px 1px hsl(280 40% 20% / 0.1);
	--shadow-xl: 0px 4px 12px 2px hsl(280 40% 20% / 0.1), 0px 8px 10px 1px hsl(280 40% 20% / 0.1);
	--shadow-2xl: 0px 4px 12px 2px hsl(280 40% 20% / 0.25);
	--tracking-normal: 0.01em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2008 0.0386 313.8314);
	--foreground: oklch(0.9583 0.0077 314.7882);
	--card: oklch(0.2206 0.045 313.7551);
	--card-foreground: oklch(0.9583 0.0077 314.7882);
	--popover: oklch(0.2399 0.0513 313.6928);
	--popover-foreground: oklch(0.9583 0.0077 314.7882);
	--primary: oklch(0.7048 0.1666 313.5378);
	--primary-foreground: oklch(0.1994 0.0438 313.6545);
	--secondary: oklch(0.2984 0.0597 313.7807);
	--secondary-foreground: oklch(0.9093 0.031 314.6614);
	--muted: oklch(0.2826 0.0459 314.0067);
	--muted-foreground: oklch(0.7487 0.0366 314.59);
	--accent: oklch(0.2776 0.0633 313.5969);
	--accent-foreground: oklch(0.8494 0.0823 314.3543);
	--destructive: oklch(0.5199 0.1791 26.0647);
	--destructive-foreground: oklch(0.9848 0 0);
	--border: oklch(0.3197 0.0543 313.9644);
	--input: oklch(0.3197 0.0543 313.9644);
	--ring: oklch(0.7048 0.1666 313.5378);
	--chart-1: oklch(0.7048 0.1666 313.5378);
	--chart-2: oklch(0.7231 0.1102 291.0258);
	--chart-3: oklch(0.7787 0.1223 332.8019);
	--chart-4: oklch(0.8014 0.1005 212.4566);
	--chart-5: oklch(0.8999 0.1105 91.5893);
	--sidebar: oklch(0.1793 0.0362 313.7712);
	--sidebar-foreground: oklch(0.8737 0.0235 314.6962);
	--sidebar-primary: oklch(0.7048 0.1666 313.5378);
	--sidebar-primary-foreground: oklch(0.1994 0.0438 313.6545);
	--sidebar-accent: oklch(0.2799 0.0547 313.8102);
	--sidebar-accent-foreground: oklch(0.9583 0.0077 314.7882);
	--sidebar-border: oklch(0.2826 0.0459 314.0067);
	--sidebar-ring: oklch(0.7048 0.1666 313.5378);
	--font-sans: Quicksand, system-ui, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Fira Code, monospace;
	--radius: 1rem;
	--shadow-x: 0px;
	--shadow-y: 8px;
	--shadow-blur: 16px;
	--shadow-spread: 2px;
	--shadow-opacity: 0.4;
	--shadow-color: 0 0% 0%;
	--shadow-2xs: 0px 8px 16px 2px hsl(0 0% 0% / 0.2);
	--shadow-xs: 0px 8px 16px 2px hsl(0 0% 0% / 0.2);
	--shadow-sm: 0px 8px 16px 2px hsl(0 0% 0% / 0.4), 0px 1px 2px 1px hsl(0 0% 0% / 0.4);
	--shadow: 0px 8px 16px 2px hsl(0 0% 0% / 0.4), 0px 1px 2px 1px hsl(0 0% 0% / 0.4);
	--shadow-md: 0px 8px 16px 2px hsl(0 0% 0% / 0.4), 0px 2px 4px 1px hsl(0 0% 0% / 0.4);
	--shadow-lg: 0px 8px 16px 2px hsl(0 0% 0% / 0.4), 0px 4px 6px 1px hsl(0 0% 0% / 0.4);
	--shadow-xl: 0px 8px 16px 2px hsl(0 0% 0% / 0.4), 0px 8px 10px 1px hsl(0 0% 0% / 0.4);
	--shadow-2xl: 0px 8px 16px 2px hsl(0 0% 0% / 1);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
}

.custom-row td:first-child {
	background-color: var(--background);
}
.custom-row td:last-child {
	background-color: var(--background);
}

.custom-row:hover td:first-child {
	background-color: var(--background);
}
.custom-row:hover td:last-child {
	background-color: var(--background);
}

@custom-variant data-open {
	&:where([data-state="open"]), &:where([data-open]:not([data-open="false"])) {
		@slot;
	}
}

@custom-variant data-closed {
	&:where([data-state="closed"]), &:where([data-closed]:not([data-closed="false"])) {
		@slot;
	}
}

@custom-variant data-checked {
	&:where([data-state="checked"]), &:where([data-checked]:not([data-checked="false"])) {
		@slot;
	}
}

@custom-variant data-unchecked {
	&:where([data-state="unchecked"]), &:where([data-unchecked]:not([data-unchecked="false"])) {
		@slot;
	}
}

@custom-variant data-selected {
	&:where([data-selected]) {
		@slot;
	}
}

@custom-variant data-disabled {
	&:where([data-disabled="true"]), &:where([data-disabled]:not([data-disabled="false"])) {
		@slot;
	}
}

@custom-variant data-active {
	&:where([data-state="active"]), &:where([data-active]:not([data-active="false"])) {
		@slot;
	}
}

@custom-variant data-horizontal {
	&:where([data-orientation="horizontal"]) {
		@slot;
	}
}

@custom-variant data-vertical {
	&:where([data-orientation="vertical"]) {
		@slot;
	}
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
